@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

/********BASE STYLES **************/
html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1, h2, h3, h4 {
	color: #000000;
	text-transform: uppercase;
	font-weight:700;
}

h1 {
	font-size: 1.88em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.13em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.88em;
	line-height: 1.31em;
    padding: 0 30px;
}

/**************MOBILE STYLES ****************/
.container{
	max-width: 1200px;
	width: 90%;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

/***************HEADER STYLES *****************/
header {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	width: 100%;
	height: auto;
	margin: 1em 0;
	text-align: center;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .88em;
	padding: 1em;
	list-style-type: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/************** MAIN SECTION ****************/
.top-section,
.bottom-section {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.main-image {
	width: 100%;
	height: auto;
}

.main-image img {
	width: 100%;
	height: auto;
	border: 3px solid #77a466;
}

.main-title {
	width: 100%;
	height: auto;

}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.56em;
}

/************** BOTTOM SECTION ***********************/
.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	border-top: 3px solid #eee;
}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.31em;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #eee;
	margin: 0 auto;
	/* text-align: center; */
}

footer h4 {
	font-size: 1em;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.5em;
}


@media all and (min-width:769px) {
	/* Tablet Styles Here */


}


@ media all and (min-width: 1200px) {
	/* Desktop Styles Here */


}
